.TokenListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  padding-bottom: 115px;

  .TokenItem {
    .Header {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      padding: 20px;
    }

    .Image {
      width: 500px;
    }

    .Footer {
      .Title {
        max-width: 445px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
      }
    }
  }
}
